.v-btn:not(.v-btn--round).v-size--default {
  min-width: auto !important;
  padding: 0 24px !important;
}
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: var(--v-gray-darken3) !important;
}